<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Producto</title>
  <link rel="stylesheet" href="/styles.css"> <!-- Aquí puedes enlazar tu CSS -->
</head>
<body>
  <header>

    <div class="header-container">
      <h1>Detalle del producto: {{product.title}}</h1>
            <div class="header-icons">
                <a href="/login"><i class="fas fa-user"></i></a>
                <a href="/api/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
  </header>

  <main>
    <div class="product-detail-container">
      <img src="{{product.image}}" alt="{{product.title}}" class="product-image-detail">
      <div class="product-info">
        <p><strong>Precio:</strong> ${{product.price}}</p>
        <p><strong>Categoría:</strong> {{product.category}}</p>
        <p><strong>Descripción:</strong> {{product.description}}</p>
        <p><strong>Stock:</strong> {{product.stock}} unidades disponibles</p>
        <button class="add-to-cart-btn" data-product-id="{{product._id}}">Agregar al carrito</button>
      </div>
    </div>
  </main>

  <footer>
    <a href="/">Volver a la tienda</a>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const buttons = document.querySelectorAll('.add-to-cart-btn');
      console.log('Botones encontrados:', buttons);  // Verifica si encuentra los botones

      buttons.forEach(button => {
        button.addEventListener('click', async (event) => {
          const productId = event.target.dataset.productId;
          console.log("Producto agregado:", productId);  // Debes ver el ID del producto

          const response = await fetch(`/api/cart/add/${productId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
          });

          if (response.ok) {
            alert('Producto agregado al carrito');
          } else {
            alert('Debe loguearse para agregar producto al carrito');
          }
        });
      });
    });
  </script>
</body>
</html>



</script>
