<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle de Compra</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <div class="ticket-container">
    <h1>Detalle de Compra</h1>

    <p><strong>Ticket ID:</strong> {{ticket._id}}</p>
    <p><strong>Fecha de compra:</strong> {{ticket.purchase_datetime}}</p>
    <p class="total-amount"><strong>Total:</strong> ${{ticket.amount}}</p>
    <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
    <div id="message"></div>
    <form action="/api/ticket/{{ticket._id}}/mail" method="POST">
    <button type="submit">Recibir el ticket por mail</button>
    </form>
    <form action="/api/ticket/{{ticket._id}}/sms" method="POST">
    <button type="submit">Recibir el ticket por sms</button>
    </form>

    <a href="/">Volver a la tienda</a>
  </div>


</body>
</html>
